.Main {
    width: 100vw;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    min-height: 80vh;
}

.Header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color:#085ED6
}
.Footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d2b2f0
}
.UserList {
    width: 60vw;
    display: flex; 
    flex-direction: column;
}
.UserListHeader {
    justify-content: space-around;
}
.UserList > * {
    display: flex;
    align-items: center;
    padding: 11px;
    font-size: 20px;
}
.Catagories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.SingleUser {
    display: flex;
    justify-content: space-evenly;
    border: solid black 2px;
    border-radius: 10px;
    margin: 5px;
    flex-wrap: wrap;
    background-color: #FCF8F2;
}

.UserProfile {
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}